@{
    ViewBag.Title = "Profile";
}

<div id="profile-div">
    <div id="profile-steam-div">
        <h1>@SteamApiInterface.GetSteamPlayers(new SteamId { steam_id = User.Identity.Name })[0].personaname</h1>

        <img src="@SteamApiInterface.GetSteamPlayers(new SteamId { steam_id = User.Identity.Name})[0].avatarfull" />
    </div>

    <div id="profile-summary-div">
        <dl class="dl-horizontal"></dl>
    </div>
</div>

<div id="chart-canvas">
    <div class="form-group">
        <label for="chart-selection">Select Chart: </label>
        <select class="form-control" id="chart-selection">
            <option value="minutes-played-per-map">Minutes Played per Map</option>
            <option value="minutes-played-per-team">Minutes Played per Team</option>
            <option value="kdr-by-map">Kill Death Ratio by Map</option>
            <option value="kdr-by-team">Kill Death Ratio by Team</option>
            <option value="wins-by-team">Wins by Team</option>
        </select>
    </div>
    <canvas id="my-chart"></canvas>
</div>

@section Scripts {
    @if (@ViewBag.JWT != null)
    {
        <script type="text/javascript">
            localStorage.setItem("accessToken", "@ViewBag.JWT.access_token");
            localStorage.setItem("refreshToken", "@ViewBag.JWT.refresh_token");
        </script>
    }
    <script type="text/javascript" src="~/js/views/profile.js"></script>
}
